
.calculadora {
	text-align: center;
    width: 659px;
    background: #deebf9;
    margin: 2em auto;
    box-shadow: 14px 13px 20px 6px #9e9e9ec2;
}

input {
    border: solid 0.5px;
    border-radius: 4px;

}

[type="number"]{
    height: 80px;
    width: 174px;
    margin: 3px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 35px;
    text-align: center;
    border-radius: 4px;
    box-shadow: inset 0px 36px 20px -23px #dbecff;
}

[type="button"]{
	height: 80px;
    width: 180px;
    margin: 3px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 31px;
    box-shadow: inset 0px -20px 42px -19px #94afd6;
    background: #e8f3f9;
    border-radius: 4px;

}

textarea {
    width: 363px;
    height: 60px;
	font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    font-weight: 100;
    margin: 0 0 60px;
    border-radius: 4px;
    text-align: center;
    box-shadow: inset 0px 36px 20px -23px #dbecff;


}

h1 {
	margin: 0px 0px 0px;
    padding: 17px 0 0;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 67px;
    font-weight: 100;

}

h2 {
	width: 370px;
    margin: 8px auto 24px;
	font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}

h3 {
	margin: 40px 0 3px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 43px;
    font-weight: 100;
}